:root {
  --primary: hsl(246, 80%, 60%);

  --light-red-1: hsl(15, 100%, 70%);
  --soft-blue: hsl(195, 74%, 62%);
  --light-red-2: hsl(348, 100%, 68%);
  --lime-green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft-orange: hsl(43, 84%, 65%);

  --neutral-1: hsl(226, 43%, 10%);
  --neutral-2: hsl(235, 46%, 20%);
  --neutral-3: hsl(235, 45%, 61%);
  --neutral-4: hsl(236, 100%, 87%);

  --main-font-size: 18px;
  --main-font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: var(--main-font-size);
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font-size: inherit;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--neutral-1);
  color: white;
  font-family: var(--main-font-family);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  gap: 1em;
}

.card-avatar {
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-2);
  border-radius: 1em;
  cursor: pointer;
}

.card-avatar .card-top {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--primary);
  padding: 2em;
  border-radius: 1em;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid white;
}

.username {
  font-size: 2em;
  font-weight: 300;
}

.report-for {
  color: var(--neutral-4);
}

.card-avatar .card-bottom {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.toggle-button {
  color: var(--neutral-3);
  cursor: pointer;
}

.toggle-button.active {
  color: white;
}

.toggle-button:hover {
  color: white;
}

.card-list {
  display: grid;
  gap: 1em;
  margin-bottom: 2em;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1em;
  overflow: hidden;
  cursor: pointer;
  justify-content: space-between;
  height: 100%;
}

.card .card-top {
  padding: 10px;
}

.card-image {
  position: absolute;
  top: -5px;
  right: 20px;
}

.card .card-bottom {
  position: relative;
  display: flex;
  background-color: var(--neutral-2);
  flex-direction: column;
  padding: 2em;
  gap: 1em;
  border-radius: 1em 1em 0.7em 0.5em;
  height: 100%;
}

.card > .card-bottom:hover {
  filter: brightness(1.2);
}

.card .card-bottom .card-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-weeks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-week {
  font-size: 2em;
}

.previous-week {
  font-size: 0.8em;
  color: var(--neutral-4);
}

.card.work {
  background-color: var(--light-red-1);
}

.card.work .card-image {
  content: url("images/icon-work.svg");
}

.card.play {
  background-color: var(--soft-blue);
}

.card.study {
  background-color: var(--light-red-2);
}

.card.exercise {
  background-color: var(--lime-green);
}

.card.social {
  background-color: var(--violet);
}

.card.self-care {
  background-color: var(--soft-orange);
}

@media only screen and (min-width: 1020px) {
  .container {
    flex-direction: row;
  }

  .card-avatar {
    max-width: 300px;
  }

  .card-avatar .card-top {
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 2em;
    flex: 1;
  }

  .card-avatar .card-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2em;
  }

  .card-list {
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 250px;
  }

  .card .card-weeks {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }
}
